.contents_sign_up {
    width: 1104px;
    height: 700px;
    margin: 0 auto;
    padding-top: 10px;
    
}
/* 회원가입 버튼*/
.sign_up_box_title {
    margin-bottom: 50px;
    text-align: left;
    font: normal normal 30px 'Do Hyeon', sans-serif;
    color: #333;
}
.sign_up_box{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    width: 500px;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-left: 50px;
    float: left;

}
.sns_sign_up_box{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px dotted lightgray;
    border-right: 1px solid lightgray;;
    width: 500px;
    height: 550px;
    margin: auto auto;
    padding-top: 50px;
    padding-left: 50px;
    float: left;
}
/* 회원가입창 라벨 */
.sign_up_label {
    padding-top: 10px;
    font: normal bold 15px 'Nanum Gothic', sans-serif ;
    color: gray;
}
/* 회원가입 정보입력란 */
.sign_up_input {
    width: 400px;
    height: 38px;
    margin-top: 5px;
}

/* 회원가입버튼 */
.sign_up_button {
    margin-top: 10px;
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: normal bold 16px 'Nanum Gothic', sans-serif ;
}
.sign_up_button_naver {
    margin-top: 10px;
    background-color: #2DB400;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 140px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: normal bold 16px 'Nanum Gothic', sans-serif ;
}
.sign_up_button_kakao {
    margin-top: 10px;
    background-color: #ffe812;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 140px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: normal bold 16px 'Nanum Gothic', sans-serif ;
}
/* 회원가입 버튼: hover */
.sign_up_button:hover{
    background-color: #494343;
    transition-duration: 0.3s;
}
.sign_up_button_naver:hover{
    background-color: #147a4e;
    transition-duration: 0.3s;
}   
.sign_up_button_kakao:hover{
    background-color: #FFE88C;
    transition-duration: 0.3s;
}