<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.tradeMapper">
<!-- 물품등록 -->
<insert id="register_goods">
	insert into usedtrade(user_nick
						, category
						, trade_title
						, trade_content
						, trade_date
						, trade_count
						, trade_price
						, trade_evalue
						, trade_photo
						, trade_complete
						, trade_thumb)
	 		values(#{tr_user_nick}
	 				, #{tr_category}
	 				, #{tr_title}
	 				, #{tr_content}
	 				, now()
	 				, 0
	 				, #{tr_price}
	 				, 0
	 				, #{tr_photo}
	 				, 0
	 				, #{tr_thumb}
	 		)
</insert>

<!-- 중고거래 리스트(메인화면) -->
<select id="tradeList" resultType="TradeDTO" parameterType="TradeDTO" >
	select t1.trade_no as tr_no
		, t1.USER_NICK as tr_user_nick
		, t1.category as tr_category
		, t1.TRADE_TITLE as tr_title
		, t1.TRADE_CONTENT as tr_content
		, t1.TRADE_DATE as tr_date
		, t1.TRADE_COUNT as tr_count
		, t1.TRADE_EVALUE as tr_evalue
		, format(t1.TRADE_PRICE,0) as tr_price
		, t1.TRADE_PHOTO as tr_photo
		, t1.TRADE_COMPLETE as tr_complete
		, case when left(t2.user_addr2,1) = '경' then substring_index(t2.user_addr2,' ', 3) 
				when left(t2.user_addr2,1) = '전' then substring_index(t2.user_addr2,' ', 3) 
				when left(t2.user_addr2,1) = '충' then substring_index(t2.user_addr2,' ', 3) 
				when left(t2.user_addr2,1) = '강' then substring_index(t2.user_addr2,' ', 3) 
				else substring_index(t2.user_addr2,' ', 2) 
			end as user_addr2
		from usedtrade t1, user t2 
		where t1.user_nick = t2.user_nick and trade_complete = 0 order by trade_no desc
		limit 0, 9
</select>
<!-- 중고거래 리스트(메인화면) 더보기 -->
<select id="tradeListMore" resultType="TradeDTO" parameterType="TradeDTO" >
	select t1.trade_no as tr_no
		, t1.USER_NICK as tr_user_nick
		, t1.category as tr_category
		, t1.TRADE_TITLE as tr_title
		, t1.TRADE_CONTENT as tr_content
		, t1.TRADE_DATE as tr_date
		, t1.TRADE_COUNT as tr_count
		, t1.TRADE_EVALUE as tr_evalue
		, format(t1.TRADE_PRICE,0) as tr_price
		, t1.TRADE_PHOTO as tr_photo
		, t1.TRADE_COMPLETE as tr_complete
		, case when left(t2.user_addr2,1) = '경' then substring_index(t2.user_addr2,' ', 3) 
				when left(t2.user_addr2,1) = '전' then substring_index(t2.user_addr2,' ', 3) 
				when left(t2.user_addr2,1) = '충' then substring_index(t2.user_addr2,' ', 3) 
				when left(t2.user_addr2,1) = '강' then substring_index(t2.user_addr2,' ', 3) 
				else substring_index(t2.user_addr2,' ', 2) 
			end as user_addr2
		from usedtrade t1, user t2 
		where t1.user_nick = t2.user_nick and trade_complete = 0 order by trade_no desc
		limit #{startPage}, 3
</select>

<!-- 중고거래 리스트(메인화면)카테고리 -->
<select id="tradeListCategory" resultType="TradeDTO" parameterType="TradeDTO" >
	select t1.trade_no as tr_no
		, t1.USER_NICK as tr_user_nick
		, t1.category as tr_category
		, t1.TRADE_TITLE as tr_title
		, t1.TRADE_CONTENT as tr_content
		, t1.TRADE_DATE as tr_date
		, t1.TRADE_COUNT as tr_count
		, t1.TRADE_EVALUE as tr_evalue
		, format(t1.TRADE_PRICE,0) as tr_price
		, t1.TRADE_PHOTO as tr_photo
		, t1.TRADE_COMPLETE as tr_complete
		, case when left(t2.user_addr2,1) = '경' then substring_index(t2.user_addr2,' ', 3) 
				when left(t2.user_addr2,1) = '전' then substring_index(t2.user_addr2,' ', 3) 
				when left(t2.user_addr2,1) = '충' then substring_index(t2.user_addr2,' ', 3) 
				when left(t2.user_addr2,1) = '강' then substring_index(t2.user_addr2,' ', 3) 
				else substring_index(t2.user_addr2,' ', 2) 
			end as user_addr2
		from usedtrade t1, user t2 
		where t1.user_nick = t2.user_nick and trade_complete = 0 and category = #{category}
		order by trade_no desc
		limit 0, 9
</select>

<!-- 중고거래 리스트(메인화면)카테고리별 더보기 -->
<select id="tradeListCategoryMore" resultType="TradeDTO" parameterType="TradeDTO" >
	select t1.trade_no as tr_no
		, t1.USER_NICK as tr_user_nick
		, t1.category as tr_category
		, t1.TRADE_TITLE as tr_title
		, t1.TRADE_CONTENT as tr_content
		, t1.TRADE_DATE as tr_date
		, t1.TRADE_COUNT as tr_count
		, t1.TRADE_EVALUE as tr_evalue
		, format(t1.TRADE_PRICE,0) as tr_price
		, t1.TRADE_PHOTO as tr_photo
		, t1.TRADE_COMPLETE as tr_complete
		, case when left(t2.user_addr2,1) = '경' then substring_index(t2.user_addr2,' ', 3) 
				when left(t2.user_addr2,1) = '전' then substring_index(t2.user_addr2,' ', 3) 
				when left(t2.user_addr2,1) = '충' then substring_index(t2.user_addr2,' ', 3) 
				when left(t2.user_addr2,1) = '강' then substring_index(t2.user_addr2,' ', 3) 
				else substring_index(t2.user_addr2,' ', 2) 
			end as user_addr2
		from usedtrade t1, user t2 
		where t1.user_nick = t2.user_nick and trade_complete = 0 and category = #{category}
		order by trade_no desc
		limit #{startPage}, 3
</select>

<!-- 동네 검색했을때 리스트 출력 -->
<select id="tradeList_search" resultType="TradeDTO" parameterType="TradeDTO">
select t1.trade_no as tr_no
	, t1.USER_NICK as tr_user_nick
	, t1.category as tr_category
	, t1.TRADE_TITLE as tr_title
	, t1.TRADE_CONTENT as tr_content
	, t1.TRADE_DATE as tr_date
	, t1.TRADE_COUNT as tr_count
	, t1.TRADE_EVALUE as tr_evalue
	, format(t1.TRADE_PRICE,0) as tr_price
	, t1.TRADE_PHOTO as tr_photo
	, t1.TRADE_COMPLETE as tr_complete
	, case when left(t2.user_addr2,1) = '경' then substring_index(t2.user_addr2,' ', 3) 
			when left(t2.user_addr2,1) = '전' then substring_index(t2.user_addr2,' ', 3) 
			when left(t2.user_addr2,1) = '충' then substring_index(t2.user_addr2,' ', 3) 
			when left(t2.user_addr2,1) = '강' then substring_index(t2.user_addr2,' ', 3) 
	else substring_index(t2.user_addr2,' ', 2) 
	end as user_addr2
	from usedtrade t1, user t2 
	where t1.user_nick = t2.user_nick and trade_complete = 0 and t2.user_addr2 like concat('%',#{search_area},'%') 
	order by trade_no desc
</select>

<select id="tradeShow" resultType="TradeDTO" parameterType="TradeDTO">
	select  trade_no as tr_no
			, user_nick as tr_user_nick
			, trade_photo as tr_photo
			, trade_title as tr_title
			, trade_content as tr_content
			, trade_date as tr_date
			, year(now()) - year(trade_date) as year
			, month(now()) - month(trade_date) as month
			, day(now()) - day(trade_date) as day
			, hour(now()) - hour(trade_date) as hour
			, minute(now()) - minute(trade_date) as minute
			, second(now()) - second(trade_date) as second
			, TRADE_COUNT as tr_count
			, TRADE_EVALUE as tr_evalue
			, format(TRADE_PRICE,0) as tr_price
			, category as tr_category
			, TRADE_COMPLETE as tr_complete
	 from usedtrade
	 where trade_no = #{tr_no}
</select>
<!-- 주소 얻기 -->
<select id="getAddr2" parameterType="UserDTO" resultType="string">
	select case when left(user_addr2,1) = '경' then substring_index(user_addr2,' ', 3) 
			when left(user_addr2,1) = '전' then substring_index(user_addr2,' ', 3) 
			when left(user_addr2,1) = '충' then substring_index(user_addr2,' ', 3) 
			when left(user_addr2,1) = '강' then substring_index(user_addr2,' ', 3) 
	else substring_index(user_addr2,' ', 2) 
	end as user_addr2 
	from user where user_nick = #{user_nick}
</select>
<!-- 조회수 증가 -->
<update id="setCount">
	update usedtrade set trade_count = trade_count+1 where trade_no = #{tr_no}
</update>

<!-- 거래완료로 바뀌게 함-->
<update id="completeChange">
	update usedtrade set trade_complete = 1 where trade_no = #{tr_no}
</update>

<update id="completeAdd">
	update usedtrade set trade_buyer = #{tr_buyer} where trade_no = #{tr_no}
</update>

<insert id="heartIN">
	insert into tr_interest values(#{tr_no},#{tr_user_nick},1)
</insert>

<select id="heartCheck" parameterType="UserDTO" resultType="int">
	select count(*) from tr_interest where trade_no = #{tr_no} and user_nick = #{tr_user_nick}
</select>

<select id="heartCount" parameterType="UserDTO" resultType="int">
	select count(*) from tr_interest where trade_no = #{tr_no}
</select>
<!-- 중고물품 수정 폼으로 가져갈 데이터값들 -->
<select id="tradeShowEdit" resultType="TradeDTO" parameterType="TradeDTO">
	select  trade_no as tr_no
			, user_nick as tr_user_nick
			, trade_photo as tr_photo
			, trade_title as tr_title
			, trade_content as tr_content
			, year(now()) - year(trade_date) as year
			, month(now()) - month(trade_date) as month
			, day(now()) - day(trade_date) as day
			, hour(now()) - hour(trade_date) as hour
			, minute(now()) - minute(trade_date) as minute
			, second(now()) - second(trade_date) as second
			, TRADE_COUNT as tr_count
			, TRADE_EVALUE as tr_evalue
			, TRADE_PRICE as tr_price
			, category as tr_category
			, TRADE_COMPLETE as tr_complete
	 from usedtrade
	 where trade_no = #{tr_no}
</select>
<update id="update_goods">
	update usedtrade set category =  #{tr_category}
	 					, trade_title = #{tr_title}
		 				, trade_content = #{tr_content}
	 					, trade_price = #{tr_price}
	 					, trade_thumb = #{tr_thumb}
	where trade_no = #{tr_no}
</update>
<update id="update_goods_photo">
	update usedtrade set trade_photo =  #{tr_photo}
	where trade_no = #{tr_no}
</update>
<delete id="delete_goods_interest">
	delete from tr_interest where trade_no = #{tr_no}
</delete>
<delete id="delete_goods">
	delete from usedtrade where trade_no = #{tr_no}
</delete>
<delete id="delete_chat">
	delete from trade_chat where trade_no = #{tr_no}
</delete>
</mapper>









